In [146]:
import get_stock_data

In [147]:
from datetime import date
TICKER='BA'
START_DATE='2013-01-01'
END_DATE = date.today().strftime('%Y-%m-%d')
Y_VAR=['Close']
VARS_TO_LAG=['Open', 'High', 'Low', 'Close', 'Volume']
NUM_OF_LAGS=30

In [148]:
df = get_stock_data.get_daily_stock_data(TICKER, START_DATE, END_DATE)
df

,Open,High,Low,Close,Volume,Date,Ticker
0,64.148103,64.801734,64.064299,64.583855,5036400,2013-01-02,BA
1,64.516799,65.346413,63.997250,64.919037,3987000,2013-01-03,BA
2,65.187191,65.379925,64.893896,65.103394,3431700,2013-01-04,BA
3,64.977726,65.103426,63.134145,63.796158,7172600,2013-01-07,BA
4,63.050324,63.527978,61.265409,62.120155,20268100,2013-01-08,BA
...,...,...,...,...,...,...,...
2814,201.839996,203.800003,198.460007,198.490005,8993600,2024-03-08,BA
2815,194.210007,196.070007,189.800003,192.490005,14160600,2024-03-11,BA
2816,188.240005,188.580002,183.160004,184.240005,18714800,2024-03-12,BA
2817,183.160004,185.970001,182.080002,182.350006,10196100,2024-03-13,BA
2818,182.000000,184.940002,180.520004,181.149994,10016200,2024-03-14,BA

In [149]:

df[f'{Y_VAR[0]}_change'] = df[f'{var}'].diff().apply(lambda x: 1 if x > 0 else 0)

df

,Open,High,Low,Close,Volume,Date,Ticker,Close_change
0,64.148103,64.801734,64.064299,64.583855,5036400,2013-01-02,BA,0
1,64.516799,65.346413,63.997250,64.919037,3987000,2013-01-03,BA,0
2,65.187191,65.379925,64.893896,65.103394,3431700,2013-01-04,BA,0
3,64.977726,65.103426,63.134145,63.796158,7172600,2013-01-07,BA,1
4,63.050324,63.527978,61.265409,62.120155,20268100,2013-01-08,BA,1
...,...,...,...,...,...,...,...,...
2814,201.839996,203.800003,198.460007,198.490005,8993600,2024-03-08,BA,1
2815,194.210007,196.070007,189.800003,192.490005,14160600,2024-03-11,BA,1
2816,188.240005,188.580002,183.160004,184.240005,18714800,2024-03-12,BA,1
2817,183.160004,185.970001,182.080002,182.350006,10196100,2024-03-13,BA,0
2818,182.000000,184.940002,180.520004,181.149994,10016200,2024-03-14,BA,0

In [150]:

for lag in range(1, NUM_OF_LAGS + 1):
    for var in VARS_TO_LAG:
        df[f'{var}_lag{lag}'] = df[var].shift(lag)

df

/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)
/var/folders/bn/gpsh1csx5cn3n2b260wncbvm0000gn/T/ipykernel_9678/4281771626.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{var}_lag{lag}'] = df[var].shift(lag)

,Open,High,Low,Close,Volume,Date,Ticker,Close_change,Open_lag1,High_lag1,...,Open_lag29,High_lag29,Low_lag29,Close_lag29,Volume_lag29,Open_lag30,High_lag30,Low_lag30,Close_lag30,Volume_lag30
0,64.148103,64.801734,64.064299,64.583855,5036400,2013-01-02,BA,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,64.516799,65.346413,63.997250,64.919037,3987000,2013-01-03,BA,0,64.148103,64.801734,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,65.187191,65.379925,64.893896,65.103394,3431700,2013-01-04,BA,0,64.516799,65.346413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,64.977726,65.103426,63.134145,63.796158,7172600,2013-01-07,BA,1,65.187191,65.379925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63.050324,63.527978,61.265409,62.120155,20268100,2013-01-08,BA,1,64.977726,65.103426,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2814,201.839996,203.800003,198.460007,198.490005,8993600,2024-03-08,BA,1,200.699997,203.729996,...,203.080002,206.750000,203.000000,205.470001,9911200.0,208.199997,208.729996,198.320007,201.880005,22112500.0
2815,194.210007,196.070007,189.800003,192.490005,14160600,2024-03-11,BA,1,201.839996,203.800003,...,206.059998,207.039993,203.850006,205.190002,7535400.0,203.080002,206.750000,203.000000,205.470001,9911200.0
2816,188.240005,188.580002,183.160004,184.240005,18714800,2024-03-12,BA,1,194.210007,196.070007,...,203.649994,203.979996,199.139999,200.440002,13321200.0,206.059998,207.039993,203.850006,205.190002,7535400.0
2817,183.160004,185.970001,182.080002,182.350006,10196100,2024-03-13,BA,0,188.240005,188.580002,...,204.919998,213.770004,203.250000,211.039993,22409400.0,203.649994,203.979996,199.139999,200.440002,13321200.0
2818,182.000000,184.940002,180.520004,181.149994,10016200,2024-03-14,BA,0,183.160004,185.970001,...,213.839996,214.630005,206.809998,209.809998,10679200.0,204.919998,213.770004,203.250000,211.039993,22409400.0

In [151]:


VARS_TO_DROP = [x for x in VARS_TO_LAG if x not in Y_VAR]
VARS_TO_DROP.append('Ticker')
VARS_TO_DROP.append('Close')
VARS_TO_DROP

df.drop(columns=VARS_TO_DROP, inplace=True)
df

,Date,Close_change,Open_lag1,High_lag1,Low_lag1,Close_lag1,Volume_lag1,Open_lag2,High_lag2,Low_lag2,...,Open_lag29,High_lag29,Low_lag29,Close_lag29,Volume_lag29,Open_lag30,High_lag30,Low_lag30,Close_lag30,Volume_lag30
0,2013-01-02,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-01-03,0,64.148103,64.801734,64.064299,64.583855,5036400.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-01-04,0,64.516799,65.346413,63.997250,64.919037,3987000.0,64.148103,64.801734,64.064299,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-01-07,1,65.187191,65.379925,64.893896,65.103394,3431700.0,64.516799,65.346413,63.997250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-01-08,1,64.977726,65.103426,63.134145,63.796158,7172600.0,65.187191,65.379925,64.893896,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2814,2024-03-08,1,200.699997,203.729996,200.570007,203.029999,5965300.0,201.770004,202.350006,199.860001,...,203.080002,206.750000,203.000000,205.470001,9911200.0,208.199997,208.729996,198.320007,201.880005,22112500.0
2815,2024-03-11,1,201.839996,203.800003,198.460007,198.490005,8993600.0,200.699997,203.729996,200.570007,...,206.059998,207.039993,203.850006,205.190002,7535400.0,203.080002,206.750000,203.000000,205.470001,9911200.0
2816,2024-03-12,1,194.210007,196.070007,189.800003,192.490005,14160600.0,201.839996,203.800003,198.460007,...,203.649994,203.979996,199.139999,200.440002,13321200.0,206.059998,207.039993,203.850006,205.190002,7535400.0
2817,2024-03-13,0,188.240005,188.580002,183.160004,184.240005,18714800.0,194.210007,196.070007,189.800003,...,204.919998,213.770004,203.250000,211.039993,22409400.0,203.649994,203.979996,199.139999,200.440002,13321200.0
2818,2024-03-14,0,183.160004,185.970001,182.080002,182.350006,10196100.0,188.240005,188.580002,183.160004,...,213.839996,214.630005,206.809998,209.809998,10679200.0,204.919998,213.770004,203.250000,211.039993,22409400.0

In [152]:
df.to_csv(f'temp/{TICKER}.csv', index=False)